.Product {
	padding-top: 30px;

	&_Carrousel, &_Description {
		min-height: 600px;
	}

	&_Carrousel {
		background-color: #ebedee;
	}

	&_Button_Left, &_Button_Right {
		position: absolute;
		top: 270px;
		z-index: 10;
		font-size: 2em;
		border: 0;
		background-color: transparent;
		color: gray;
		font-family: 'Open Sans';
	}

	&_Button_Left {
		left: 200px;
	}

	&_Button_Right {
		right: 200px;
	}

	&_Description {
		font-family: 'Open Sans';
		padding: 20px;

		&_Subtitle {
			margin: 0 0 2px;
			text-transform: uppercase;
			color: #767677;
		}

		&_Price {
			display: flex;
			flex-wrap: wrap;
			font-family: AdihausDIN,Helvetica,Arial,sans-serif;
			font-size: 16px;
			font-weight: bold;
		}

		&_Content {
			margin-bottom: 40px;
			margin-top: 0;
		}

		&_Title {
			font-size: 30px;
			line-height: 28px;
			font-weight: 600;
			text-transform: uppercase;
			max-width: 269px;
		}

		select {
			margin-right: 20px;
		}

		select:first-of-type {
			width: 300px;
		}

		button {
			background-color: #000;
			border-color: #fff;
			color: #fff;
			height: 50px;
			width: 92%;
			margin-top: 10px;
			text-align: left;
			padding-left: 10px;
		}

		p {
			color: red;
			margin-bottom: 0;
			font-size: 10px;
		}
	}
}

.slide {
    &-enter {
        position: absolute;
        transform: translateX(-60%);
        opacity: 0;

        &-enter-active {
            position: absolute;
            transform: translateX(0%);
            opacity: 1;
            transition: all 1s ease;
        }
    }

    &-exit {
        position: absolute;
        transform: translateX(0%);
        opacity: 1;

        &-active {
            position: absolute;
            transform: translateX(60%);
            opacity: 0;
            transition: all 1s ease;
        }
    }
}