.Header {
    height: 80px;
    border-bottom: 1px solid #c8cbcc;
}

.Header_Logo {
    width: 70px;
    margin: 0 40px;
}

.Header_Messages {
    border-bottom: 1px solid #c8cbcc;
}

.Header_Message {
    font-size: 11px;
    padding: 1em;
}