.Header {
    height: 80px;
    border-bottom: 1px solid #c8cbcc;

    &_Logo {
        width: 70px;
        margin: 0 40px;
    }

    &_Messages {
        border-bottom: 1px solid #c8cbcc;
    }

    &_Message {
        font-size: 11px;
        padding: 1em;
    }


}