.Bag {
	font-family: 'Open Sans';

	&-Title {
		font-size: 30px;
		line-height: 28px;
		font-weight: 600;
		text-transform: uppercase;
	}

	&_Item {
		height: 164px;
		border: 1px solid gray;
		margin-bottom: 15px;

		&_Image {
			width: 162px;
		}

		&_Name {
			font-size: 18px;
			line-height: 28px;
			font-weight: 600;
			text-transform: uppercase;

			~ p {
				font-size: 14px;
				text-transform: uppercase;
				color: gray;
			}
		}

		&_Remove {
			position: absolute;
    		top: 0;
			right: 0;
			border: 0;

			button {
				border: 0;
				background-color: transparent;
			}
		}

		&_Price {
			font-size: 16px;
			color: gray;
		}
	}

	&_Total {
		font-size: 14px;
		color: gray;
	}

	&_Items_Button {
		height: 50px;
		width: 46%;
		text-align: left;
		padding-left: 10px;
		font-size: 14px;

		&_Paypal {
			color: #000;
			background-color: #FFF;
			border-color: #000;
		}

		&_Checkout {
			color: #fff;
			background-color: #000;
			border-color: #fff;
		}

		&_Paypal {
			color: #000;
			background-color: #FFF;
			border-color: #000;
		}
	}

	&_Checkout {
		button {
			width: 100%;
		}

		&_Summary {
			border: 1px solid #D8D8D8;
			width: 100%;
			font-size: 12px;
		}

	}
}