@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html body {
    margin: 0;
    padding: 0;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

a {
    background-color: transparent;
    color: #000 !important;
    font-family: 'Open Sans' !important ;
    font-size: 18px;
    text-decoration: none;
}

nav.bg-light {
    background-color: #fff !important;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #363738;
    color: #c8cbcc;
    text-align: center;
    font-size: 12px;
    padding: 13px 0 12px;
}

